@import url("photographer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus-visible {
  border: 0.125rem solid #faed05;
  box-shadow: 0.0625rem 0.0625rem 0.5rem 0.5rem #faed05;
  outline: #faed05;
}
body {
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
  width: 87%;
  margin: 0 auto;
}

h1 {
  color: #901c1c;
}
a {
  text-decoration: none;
  text-align: center;
}
button {
  border: none;
  background-color: #fff;
}
.logo {
  height: 3.125rem;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.375rem;
  margin: 3.25rem 0;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  /* color: #d3573c; Not conform to WCAG2.1 AA*/
  color: #ce403c;
  font-size: 2rem;
  line-height: 3rem;
}

.photographer_section article img,
.photographer-portrait {
  height: 12.5rem;
  width: 12.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.photographer-description {
  text-align: center;
  line-height: 1.2rem;
}
.photographer-description h3 {
  color: #901c1c;
  font-size: 1.125rem;
}
.photographer-description p:first-of-type {
  font-size: 0.875rem;
}
.photographer-description:last-child {
  color: #525252;
  font-size: 0.75rem;
}
